<div class = "login_container">
<div id="login-form">
  
  <br><br><br><br><br>
  <form action="/auth/login" method="POST">


      <input class="login_form" type="email" name="email" placeholder="Your email" /><br>
     
      <input class="login_form" type="password" name="password" placeholder="Your password" /><br>

    <button class="login_button" type="submit">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
</div>