<div class = "login_container">
  
    
<br><br><h1 class ="profile">Welcome to your profile, 
{{#if userInSession}}
{{userInSession.username}}</h1><br>

<h2 class ="profile1">Wanna see what's in your cart?</h2><br>

<a href="/cart">
    <img src="https://i.ibb.co/RgxKhWM/cart-logo.jpg" alt="Cart" />
  </a>
{{/if}}
    
</div>