<div id="form">
  <h2>Sign Up</h2>
  <form action="/auth/signup" method="POST">


      <input type="text" name="username" placeholder="Your username" />
    


      <input type="email" name="email" placeholder="Your email" />
    


      <input type="number" name="age" placeholder="Age" />
    



      <input type="password" name="password" placeholder="Your password" />
    

    <button type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>