<div class = "login_container">
<div id="form">
  <br><br>
  <form action="/auth/signup" method="POST">


      <input class="login_form" type="text" name="username" placeholder="Your username" /><br>
    


      <input class="login_form" type="email" name="email" placeholder="Your email" /><br>
    


      <input class="login_form" type="number" name="age" placeholder="Age" /><br>
    



      <input class="login_form" type="password" name="password" placeholder="Your password" /><br>
    

    <button  class="login_button" type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
</div>