<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse flex-row justify-content-between align-items-center" id="navbarNav"></div>
 
    <ul class="navbar-nav">
      <a class="navbar-brand" href="/home">Wine Vibes</a>
      {{#unless userInSession}}
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/signup">Signup</a>
      </li>
      {{/unless}}
      <li class="nav-item">
        <a class="nav-link" href="/vibe-check">Vibe Check</a>
      </li>
      {{#if userInSession}}
      <li class="nav-item">
        <a class="nav-link" href="/auth/profile/{{userInSession._id}}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">Logout</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>
