<div class="pay-background">
  <div class="pay-container">
    <h2>Payment Successful {{user}}!</h2>
    <p>Enjoy and we hope to see you again soon.</p>
    <a href="/home">Homepage</a>
  </div>
</div>