<form id="form" action="#" method="post">
      <h1>Let us help!</h1>
      <!-- create a tab for each step in the form -->
      <div class="tab1">
        Drinking with someone?
        <p>
          <input
            type="radio"
            id="alone"
            name="aloneOrNo"
            value="alone"
            checked
          />
          <label for="alone">Alone</label>
        </p>
        <p>
          <input
            type="radio"
            id="friends"
            name="aloneOrNo"
            value="friends"
          />
          <label for="friends">With Friends</label>
        </p>
        <p>
      <input
        type="radio"
        id="girls"
        name="aloneOrNo"
        value="girls"
      />
      <label for="girls">With My Girls</label>
    </p>
    <p>
      <input
        type="radio"
        id="not-sure"
        name="aloneOrNo"
        value="not-sure"
      />
      <label for="not-sure">Not Sure</label>
    </p>
      </div>
      <div class="tab2">
        Whats the setting?
        <p>
      <input
        type="radio"
        id="chilling"
        name="setting"
        value="chilling"
        checked
      />
      <label for="chilling">Just Chilling</label>
    </p>
    <p>
      <input
        type="radio"
        id="rocking"
        name="setting"
        value="rocking"
      />
      <label for="rocking">We're Gonna Rock This Night</label>
    </p>
    <p>
      <input
        type="radio"
        id="vibing"
        name="setting"
        value="vibing"
      />
      <label for="vibing">Vibing at Home</label>
    </p>
    <p>
      <input
        type="radio"
        id="spontaneous"
        name="setting"
        value="spontaneous"
      />
      <label for="spontaneous">Spontaneous</label>
    </p>
  </div>
      </div>
      <div class="tab3">
        Prefered wine?
        <p>
          <input
            type="radio"
            id="goodWine"
            name="preferedWine"
            value="goodWine"
            checked
          />
          <label for="red">just a good wine</label>
        </p>
        <p>
          <input
            type="radio"
            id="easyDrinking"
            name="preferedWine"
            value="easyDrinking"
          />
          <label for="easyDrinking">easy drinking wine</label>
        </p>
        <p>
          <input
            type="radio"
            id="impressSnob"
            name="preferedWine"
            value="impressSnob"
          />
          <label for="impressSnob">wanna impress a wine snob</label>
        </p>
         <p>
          <input
            type="radio"
            id="girlyDrops"
            name="preferedWine"
            value="girlyDrops"
          />
          <label for="girlyDrops">girly drops</label>
        </p>
      </div>

      <div style="overflow: auto">
        <div style="float: right">
          <button type="button" id="prevBtn">
            Previous
          </button>
          <button type="button" id="nextBtn">Next</button>
        </div>
      </div>

      <div style="text-align: center; margin-top: 40px">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
    </form>