/*colors{
  --red-color: #850E35
  --white-color: #FFFFFF
  --black-color: #000000
}*/





body {
  all: initial;
overflow-x: hidden;
}



a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* navbar */
.hide {
  display: none;
}

.navbar-nav {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 300px;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  font-family: 'Rubik';
  font-weight: bold;
  font-size: 25px;
  color: #850E35;
}

.logo_image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-left: 50px;
  margin-right: 850px;
}

.navbar-nav.right {
  margin-left: auto;
  margin-right: 150px;
}


/*Homepage*/
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
.vibeImage {
  width: 400px;
  height: 400px;
  object-fit: cover;
  
}

.wineImage {
  width: 400px;
  height: 400px;
  object-fit: contain;
}
/* .col {
  margin-left:20%; 
} */

  

.col {
  margin-top: 6rem;
  flex: 1;
  /* margin: 10%; */
  display: flex;
  /* padding-left: 7%;   */
  flex-wrap: wrap;
  justify-content: center;

}

.product{ 
  background-color: #ffffff;
  padding: 1rem;
  flex-basis: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.product-details {
  min-width: 0;
  padding: 1rem;
  /* background-color: #850E35; */
  display: flex;
  flex-direction: column;
}

.current-vibe {
  background-color: #850E35;
  color:white;
  padding: 2rem;
  /* display: flex; */
  /* margin-top: 150px; */
  /* position: absolute; */
  position: relative;

  display: block;
  text-align: center;
  /* margin-left: 550px; */
  font-size: 50px;
  overflow-x: hidden;
}
/*Login page, sign up page, logout page*/
.login_container
{
  background-color: #850E35;
  height: 500px;
  text-align: center;
  color: white;
}
.login_form{
  height: 65px;
  width: 450px;
  text-align: center;
  color: white;
  margin: 10px;
  font-size: 15pt;
}
.login_button{
  height: 65px;
  width: 450px;
  text-align: center;
  color: white;
  margin: 10px;
  border-radius: 250px;
  background-color: #850E35;
  border: 5px solid white;
  font-size: 20pt;
}
/* Product Details */
.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
align-items: flex-start;
}
.main-info {
  display: flex;
  flex-direction: column;
}

.additional-info{
  display: flex;
  flex-direction: column;
}

/*vibe-check page*/
.vibe-check{
  background-image: url(https://i.ibb.co/zx5D4LH/wine-aesthetic.jpg);
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 0;
  height: 450px;
  text-align: center;
  color: white;
  font-size: 95pt;
  text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;
  }
  .col1{    
    background-color: #850E35;
    height: 270px;
    width: 1850px;
    text-align: center;
    color: white;
    font-size: 35pt;
    border: 20px solid white;
    
  }
  .col2{    
    background-color: #F092B3;
    height: 270px;
    width: 1850px;
    text-align: center;
    color: white;
    font-size: 35pt;
    border: 20px solid white;
  }
    
  .Submit_button{
    background-color: #850E35;
    height: 65px;
    width: 1900px;
    text-align: center;
    color: white;
    font-size: 55pt;
    border: 20px solid white;
    border-radius: 250px;
  }
  /*cart page, */
.cart_container
{
  background-color: #850E35;
  height: 1500px;
  text-align: center;
  color: white;
  font-size: 25pt
}
.cart_form{
  height: 65px;
  width: 450px;
  text-align: center;  
  margin: 10px;
 
}
#cart-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  padding-left: 8%;
}

.cart_form p {
  margin: 0;
  padding-right: 10px;
  flex: 1;
  text-align: center;
}
.cart_button{
  flex: 0 0 auto;
  margin: 10px;
  height: 65px;
  width: 450px;
  text-align: center;
  color: white;
  margin: 10px;
  border-radius: 250px;
  background-color: #850E35;
  border: 5px solid white;
  font-size: 20pt;
}
.checkout_button {
  margin-top: 20px;
  width: 1200px;
}

.Menu_img {
  /* width: 100vw; */
  background-size: 100%;
  /* width: 100rem; */
  height: auto;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}


.Welcome_img1 {
  position: absolute;
  height: 520px;
  top: -30px;
  left: 320px;
  z-index: 2;
}

.Welcome {
  position: absolute;
  top: 20px;
  left: 800;
  z-index: 2;
}

.Welcome_text {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  margin-top: 170px;
  margin-right: 300px;
  margin-left: 800px;
  position: relative;
  z-index: 1;
}
.welcome-container{
  font-family: 'Rubik', sans-serif;
  height: 400px;
  display: flex;
  align-items: center;
  position: relative;
}
.WineVibes{
  font-family: 'Rubik', sans-serif;
  color:darkred;
}

.ChooseVibe{
  font-family: 'Rubik', sans-serif;
  /* color:white; */
  color:white;
  top: 11rem;
  /* display: flex; */
  /* margin-top: 150px; */
  /* position: absolute; */
  position: relative;

  display: block;
  text-align: center;
  /* margin-left: 550px; */
  font-size: 50px;
  overflow-x: hidden;
}

.container {
  /* margin-top: 220px; */
  /* margin-left: 5px; */
  padding: 10rem;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  flex-basis: 50%;
}

.col-md-3 {
  flex-basis: 25%;
}

.vibeImage{
  width: 375px;
  height: 375px;
}

/* .rectangle {
  width: 1512px;
  height: 500px;
  background-color: #850E35;
  margin-top: -460px;
} */

.test{
  display: flex;
  justify-content: center;
  background-color: #850E35;
  margin-top: 4rem;
}

/*footer*/

.footer {
  background-color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer p {
  margin: 0;
}

.footer .address,
.footer .contacts {
  flex-basis: 50%;
}

@media (max-width: 767px) {
  footer .address,
  footer .contacts {
    flex-basis: 100%;
  }
}

.image-text-container {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 30px;
}

.image-text-container img {
  width: 300px;
  height: 220px;
  margin-left: 20px;
}

.address{
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin-top: -10px;
}

.contacts{
  font-family: 'Rubik', sans-serif;
  margin-left: -150px ;
  margin-top: 130px;
  margin-right: 30px;
  font-size: 16px;
}


/* Payment styles */
.pay-container{
  
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pay-container h2{
  font-size: 4rem;
}
.pay-container p{
  font-size: 3rem;
}

.pay-container a{
  text-align: center;
  /* width: 10rem; */
  padding: 1rem;
  color: #ffffffff;
  font-size: 2rem;
  text-decoration: none;
  border: 4px solid white;
    border-radius: 250px;
}
.pay-container a:hover{
  color: #850E35;
  background-color: #ffffff;
}

.pay-background{
  line-height: 1rem;
  background-color: #850E35;
  width: 100vw;
  height: 52.5rem;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*     --red-color: #850E35
    --white-color: #FFFFFF
    --black-color: #000000 /

