body {
  all: initial;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.hide {
  display: none;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
.vibeImage {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.wineImage {
  width: 400px;
  height: 400px;
  object-fit: contain;
}
.col {
  padding-left: 7%; 
}

  

.col {
  flex: 1;
  margin: 10%;
  display: flex;
  padding-left: 7%; 
  justify-content: center;

}