/*colors{
  --red-color: #850E35
  --white-color: #FFFFFF
  --black-color: #000000
}*/





body {
  all: initial;
}



a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.hide {
  display: none;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
.vibeImage {
  width: 400px;
  height: 400px;
  object-fit: cover;
  
}
.logo_image{
  width: 400px;
  height: 400px;
  object-fit: contain;
}
.wineImage {
  width: 400px;
  height: 400px;
  object-fit: contain;
}
.col {
  margin-left:20%; 
}

  

.col {
  flex: 1;
  margin: 10%;
  display: flex;
  padding-left: 7%; 
  justify-content: center;

}

/*Login page*/
.container-fluid m-0.custom-bg
{
  background-color: #850E35
}

/*vibe-check page*/
.vibe-check{
  background-image: url(https://i.ibb.co/zx5D4LH/wine-aesthetic.jpg);
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 0;
  height: 450px;
  text-align: center;
  color: white;
  font-size: 95pt;
  text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;
  }
  .col1{    
    background-color: #850E35;
    height: 270px;
    text-align: center;
    color: white;
    font-size: 35pt;
    border: 20px solid white;
    
  }
  .col2{    
    background-color: #F092B3;
    height: 270px;
    text-align: center;
    color: white;
    font-size: 35pt;
    border: 20px solid white;
  }
    
  