<div class = "login_container">
    <br>
    <h2 class ="profile">Cart empty, get shopping!</h2><br><br><br>
     <a href="/">
        <img class="wine_o_clock" src="https://i.ibb.co/2szDjSR/cart-wine-o-clock.png" alt="wine_o_clock">
    </a><br>
</div>
<p class ="empty_cart">Not sure what to get? get a free <a class ="vibe-check-link" href="/vibe-check">vibe check</a></p>
