
<body>
   <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet">
  <style>
    .custom-font {
      font-family: 'Rubik', sans-serif;
    }
  </style>



<div>
  <img
  class="Menu_img"
  src="https://i.ibb.co/VQf0zBb/Menu.png">
</div>
<div class ="welcome-container">
<div><img
  class="Welcome_img1"
  src="https://i.ibb.co/SVMkgGG/welcome-1.png">
</div>





  <h1 class="Welcome">Welcome to <span class="WineVibes">Wine Vibes!</span><br></h1>


<div class="Welcome_text">
<p>Welcome to Wine Vibes, your go-to destination for all things wine! We are thrilled to offer you a unique shopping experience where you can buy wines based on the vibe of your occasion. Whether you're hosting a cozy dinner party, celebrating a special occasion, or simply unwinding after a long day, our carefully curated selection of wines is sure to impress.</p>

<p>At Wine Vibes, we are passionate about sharing our love for wine with our customers. </p>

<p>Our knowledgeable and friendly staff is always on hand to help you find the perfect bottle to suit your taste and mood.</p>

<p>Cheers to good times and great wine!</p>
</div>
</div>

<h2 Class="ChooseVibe">Choose your Vibe!</h2>
<div class="test">
<div class="container">
  <div class="row d-flex justify-content-between">
    <div class="col-12 col-md-6">
      <a href="/summer-party"><img
          class="vibeImage"
          src="https://i.ibb.co/Q9c4FyK/summer-party2.jpg"
          alt="Summer Party"
        /></a>
    </div>
    <div class="col-12 col-md-6">
      <a href="/home-alone"><img
          class="vibeImage"
          src="https://i.ibb.co/pJmH9MD/home-alone.jpg"
          alt="Home Alone"
        /></a>
    </div>
    <div class="col-12 col-md-6">
      <a href="/me-and-friends"><img
          class="vibeImage"
          src="https://i.ibb.co/WPs30pV/Me-and-friends2.jpg"
          alt="Me and Friends"
        /></a>
    </div>
    <div class="col-12 col-md-6">
      <a href="/hot-girl-summer"><img
          class="vibeImage"
          src="https://i.ibb.co/bsSKCwd/hot-girls-summer.jpg"
          alt="Hot Girl Summer"
        /></a>
    </div>
  </div>
</div>
</div>

{{!-- <div class="rectangle"></div> --}}
</body>


<footer>
<div class="image-text-container">
  <div class="address">
  <p>Address:</p>
  <p>Estrada Nacional 10,<br>2925-901 Azeitão,<br>Portugal</p></div>
      <div class="contacts">
      <p>Contacts:</p>
      <p>T: +351 930 187 969<br>E: contact@winevibes.com</p></div>
      <img src="https://i.ibb.co/Qb9Gc3T/Map.png" alt="Image">
</div>

</footer>

